@import-normalize;

*{
    /* box-sizing: border-box; */
    /* overflow: hidden; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol{
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.hero-container{
    padding-right: 64px;
    padding-left: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}

.teachers-container{
    padding-right: 128px;
    padding-left: 128px;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
}