@import-normalize;

:root {
  /* background */
  --bg-body: #040404;
  --bg-container: #e6533c;
  --bg-btn: #9fbaae;
  --bg-btn-hover: #ef8964;
  --bg-btn-sec: #ef8964;
  --bg-l-icon: #ef8964;
  --bg-r-icon: #efa082;
  --bg-alert: #efede8;
  --bg-btn-positive: #3cbf61;
  --bg-btn-negative: #e9101d;
  /* text */
  --color-text-primary: #efede8;
  --color-text-pr80: #efede8cc;
  --color-text-pr65: #efede8a6;
  --color-text-pr60: #efede899;
  --color-text-pr50: #efede880;
  --color-text-pr40: #efede866;
  --color-text-pr30: #efede84d;
  --color-text-secondaryV1: #ef8964;
  --color-text-caloriesV2: #e6533c;
  --color-text-white: #ffffff;
  --color-text-alert: #040404;
  --color-btn-primary: #efede8;
  --color-btn-secondary: #e6533c;
  --color-avatar: rgba(239, 237, 232, 0.1);

  /* border */
  --border-20: 1px solid #efede833;
  --border-30: 1px solid #efede84d;
  --border-positive: 1px solid #3cbf61;
  --border-input-positive: 1px solid #3cbf61;
  --border-input-negative: 1px solid #d80027;
  --border-avatar: 1px solid #e6533c;
  --border-negative: 1px solid #e9101d;
  --border-color-btn-hover: #e6533c;
  --border-color-link-hover: #efede8;

  /* transition */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
  /* overflow: hidden; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hero-container {
  padding-right: 64px;
  padding-left: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

.teachers-container {
  padding-right: 128px;
  padding-left: 128px;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
